.game-card {
    margin:10px;
    max-width: 200px;
    min-width: 200px;
    opacity: 0.95;
    transition: 0.3s;
    cursor: pointer;
    img {
        max-height: 100px;        
        transition: 0.3s;
        opacity: 0.95;
    }

    &:hover {
        background-color: var(--mat-sys-surface-dim);
        opacity: 1;
        img {
            opacity: 1;
        }         
    }

    .soon-container{
        position: absolute;
        top: 0;
        left: 7.4rem;
        z-index: 10;
        overflow: hidden;
        height: 8rem;
        width: 5rem;        
        .soon {
            width: 8rem;
            height: 1.5rem;
            margin-top: 1rem;
            padding-left:2rem;
            padding-top: .2rem;
            transform: rotate(35deg);
            color: #ffffff;
            background-color: #a90202;;
        }
    }
}

.to-upper {
    button {
        text-transform: uppercase;
    }
}

.example-header-image {  
  background-size: cover;
}