.image-container {
    position: relative; 
    width: 200px;
    height: 120px;
    overflow: hidden;
    border-radius: .8rem;
    img {        
        object-fit: cover;    
        transition: all .8s ease-out; 
        &:hover {
            width: 360px;    
        }
    } 
}

.primary-form {
    display: flex;
    justify-content: center;    
    width: 100%;
    mat-form-field {
        margin: 0.3rem 0.1rem;
        width: 100%;
    }    
    button {        
        min-width: 16rem;
        margin: 2rem 0;
    }

    .spinner-small {
        margin-top: 2rem;
    }
}

.map-container {
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 702px) {        
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 470px) {        
        grid-template-columns: repeat(1, 1fr);
    }

    & {        
        grid-column-gap: .1rem;
        grid-row-gap: .1rem;
        margin-bottom: 2rem;
    }

    .map {           
        margin: .7rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        a {
            margin-bottom: .4rem;
        }
    }
}

.map-visibiliy-container {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.2s;
}

.map-visibiliy-container.open {
    grid-template-rows: 1fr;
}

.map-visibiliy-content {
    min-height: 0;
    transition: visibility 0.2s;
    visibility: hidden;                                
    overflow: hidden;
}
.map-visibiliy-container.open .map-visibiliy-content {
    visibility: visible;
}