<h2>Legal Notice</h2>
<div *ngIf="legalNotice()">
    <h4>Information pursuant to Sect. 5 German Telemedia Act (TMG)</h4>
    <p>
        {{ legalNotice()!.name }}
        <br />{{ legalNotice()!.legalEntity }}
        <br />{{ legalNotice()!.street }}
        <br />{{ legalNotice()!.zipcodeTown }}
    </p>

    @if(legalNotice()!.phoneNumber || legalNotice()!.email) {
        <h3>Contact</h3>
        @if(legalNotice()!.email) {
            <br />E-Mail: <a [href]="'mailto:' + legalNotice()!.email">{{ legalNotice()!.email }}</a>
        }
        @if(legalNotice()!.phoneNumber) {
            <br />Phone: {{ legalNotice()!.phoneNumber }}
        }
    }

    <p> The European Commission provides a platform for online dispute resolution (ODR):
        <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.
     <br />Our e-mail address can be found above in the site notice.
    </p>
    <h3>Dispute resolution proceedings in front of a consumer arbitration board</h3>
    <p>
    We are not willing or obliged to participate in dispute resolution proceedings in front of a consumer arbitration board.
    </p>
</div>
<div *ngIf="!legalNotice()">
    Loading legal notice...
</div>
