.veto-state-display-container {

    .info {
        margin: 1rem 0;
        font-weight: 700;        
        border: solid 1px solid;
    }

    .veto {
        color: red;
    }

    .pick {
        color: green;
    }

    .black {
        color: #000;        
    }
    .mat-icon {
        padding-top: .32rem;
    }
}