.veto-state-display-container {

    .info {
        margin: 1rem 0;
        font-weight: 700;        
        border: solid 1px solid;
    }

    .veto {
        color: rgb(125, 1, 1);
    }

    .pick {
        color: rgb(1, 99, 1);
    }

    .black {
        color: #000;        
    }
    .mat-icon {
        padding-top: .32rem;
        display: none;
    }
}