.veto-state-display-container {

    .info {
        margin: 1rem 0;
        font-weight: 700;
    }

    .veto {
        color: red;
    }

    .pick {
        color: green;
    }

    .black {
        color: #000;
    }
}