.home-select-card {
    margin:10px;
    max-width: 350px;
    min-width: 350px;
    opacity: 0.95;
    transition: 0.3s;
    cursor: pointer;
    img {
        max-height: 200px;        
        transition: 0.3s;
        opacity: 0.95;
    }

    &:hover {
        background-color: var(--mat-sys-surface-dim);
        opacity: 1;
        img {
            opacity: 1;
        }         
    }
}

.jumbo {    
    text-align: center;    
    color: #4b4357;
    h2 {        
        font-size: 8rem;
        @media(max-width: 702px) {
            font-size: 5rem;
        }
        @media(max-width: 470px) {
            font-size: 3.4rem;    
        }
        /* margin: 0px 0px 36px 0px;
        padding: 0px 0px 36px 0px; */
    }
    div {
        position: relative;        
        top: 556px;
        left: 246px;

        @media(max-width: 702px) {
            top: 356px;
            left: 130px;
        }
        @media(max-width: 470px) {            
            top: 246px;
            left: 70px;   
        }
    }
}

.to-upper {
    text-align: center;
    button {
        text-transform: uppercase;
    }
}

.example-header-image {  
  background-size: cover;
}