.jumbo {    
    text-align: center;    
    color: #4b4357;
    h2 {        
        font-size: 8rem;
        @media(max-width: 702px) {
            font-size: 5rem;
        }
        @media(max-width: 470px) {
            font-size: 3.4rem;    
        }        
    }
    div {
        position: relative;        
        top: 556px;
        left: 246px;

        @media(max-width: 702px) {
            top: 356px;
            left: 130px;
        }
        @media(max-width: 470px) {            
            top: 246px;
            left: 70px;   
        }
    }
}

.to-upper {
    text-align: center;
    button {
        text-transform: uppercase;
    }
}
