.spinner-container {
    width: 100%;
    height: calc(100% - 4rem - 10rem);
    top: 4rem;
    left: 0rem;
    position: fixed;
    z-index: 9800;    
    background-color: rgba(255, 255, 255, .45);
    display: flex;
    justify-content: center;
    align-items: center    
}